.profile-avatar {
  aspect-ratio: 1 / 1;
}

.gifts-section {
  margin-bottom: 120px;
}
.bottom-actions {
  height: 4.5rem;
}

.bottom-actions__center {
  width: 6.5rem;
  aspect-ratio: 1;
  padding: 0.7rem;
  z-index: 1;
  box-shadow: none;
}

.bottom-actions__center i {
  font-size: 2.5rem;
}

.gifts-grid {
  --gap: 1rem;
  --cols: 4;
  --gift-card-height: 280px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.gift-grid-item {
  min-width: 0;
  height: var(--gift-card-height);

  flex: 0 0 calc(
    (100% - (var(--cols) - 1) * var(--gap)) / var(--cols)
  );

  max-width: calc(
    (100% - (var(--cols) - 1) * var(--gap)) / var(--cols)
  );

  transition:
    flex-basis 0.4s ease,
    max-width 0.4s ease;
}

.gift-grid-item--expanded {
  flex-basis: calc(
    2 * ((100% - (var(--cols) - 1) * var(--gap)) / var(--cols))
    + var(--gap)
  );

  max-width: calc(
    2 * ((100% - (var(--cols) - 1) * var(--gap)) / var(--cols))
    + var(--gap)
  );
}

@media (max-width: 767.98px) {
  .gifts-grid {
    --cols: 2;
    --gift-card-height: 250px;
  }
}
