.user-section {
  margin-bottom: 120px;
}

.modal-backdrop.show {
  opacity: 0.35;
  background-color: #26262c;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 200px;
}

.sisters {
  object-fit: fill;
}
