<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <main class="col-12 col-md-10 col-lg-8">
      @if (errorMessage) {
        <p class="error">{{ errorMessage }}</p>
      }
      <div class="row">
        <section class="col-12 col-md-5 col-lg-7">
          <div class="glassy rounded-3 mb-3">
            <div class="p-3">
              <h1 class="tangerine-bold ms-4">Sista</h1>
              <div class="mx-4">
                <h3 class="fst-italic tangerine">( Search instrument for selecting terrific acquisitions )</h3>
              </div>
            </div>
          </div>
          <div class="glassy rounded-3 sisters-section">
            <div class="align-items-center p-3">
              <div class="">
                <p class="fst-italic">Inspired by my lovely sisters, which always do their best to find the nicest gift they can while cannot read minds.</p>
              </div>
              <img
                src="/sisters.jpg"
                class="user-avatar rounded-3 object-fit-cover"
              />
            </div>
          </div>
        </section>

        @if (users.length === 0 && !errorMessage) {
          <p>No users found.</p>
        }

        <section class="col-12 col-md-7 col-lg-5 user-section">
          <div class="row g-3">
            @for (user of users; track user.id) {
              <div class="col-12 col-sm-6">
                <app-user-card [user]="user"></app-user-card>
              </div>
            }
          </div>
        </section>
      </div>
    </main>
  </div>
</div>

<app-navbar
  (leftLink)="goBack()"
  (middleLink)="openAddUserModal()"
></app-navbar>

@if (isAddUserModalOpen) {
  <app-add-user-modal
    (userAdded)="loadUsers()"
    (closeModal)="isAddUserModalOpen = $event"
  ></app-add-user-modal>
}
