<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <main class="col-12 col-md-10 col-lg-8">
      @if (errorMessage) {
        <p class="error">{{ errorMessage }}</p>
      }
      <div class="row">
        <section class="col-12 col-md-5 col-lg-7">
          <h1 class="tangerine-bold">Sista</h1>
          <h3 class="fst-italic">Search Instrument for Selecting Terrific Acquisitions</h3>
          <p class="fst-italic">Inspired by my lovely sister which always do their best to find the nicest gift they can while cannot read minds.</p>
          <div class="glassy">
            <img src="" class="sisters">
          </div>
        </section>

        @if (users.length === 0 && !errorMessage) {
          <p>No users found.</p>
        }

        <section class="col-12 col-md-7 col-lg-5 user-section">
          <div class="row g-3">
            @for (user of users; track user.id) {
              <div class="col-12 col-sm-6">
                <app-user-card [user]="user"></app-user-card>
              </div>
            }
          </div>
        </section>
      </div>
    </main>
  </div>
</div>

<app-navbar
  (leftLink)="goBack()"
  (middleLink)="openAddUserModal()"
></app-navbar>

@if (isAddUserModalOpen) {
  <app-add-user-modal
    (userAdded)="loadUsers()"
    (closeModal)="isAddUserModalOpen = $event"
  ></app-add-user-modal>
}
