<div class="container fixed-bottom mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">

      <nav class="bottom-actions position-relative rounded-pill glassy d-flex align-items-center justify-content-center">

        <button type="button" class="btn rounded-circle button" (click)="goBack()">
          <i class="bi bi-arrow-left fs-4"></i>
        </button>

        <button type="button" class="btn rounded-circle button" (click)="logout()">
          <i class="bi bi-box-arrow-left fs-4"></i>
        </button>

        <div class="bottom-actions__spacer"></div>

        <button type="button" class="btn rounded-circle button" (click)="goToGift()">
          <i class="bi bi-gift fs-4"></i>
        </button>

        <button type="button" class="btn rounded-circle button" (click)="openProfile()">
          <i class="bi bi-person-fill-gear fs-4"></i>
        </button>

        <div
          class="bottom-actions__center position-absolute
                 top-50 start-50 translate-middle
                 rounded-circle d-flex align-items-center justify-content-center glassy"
        >
          <button
            type="button"
            class="btn rounded-circle
                   d-flex align-items-center justify-content-center
                   w-100 h-100 border-0 button"
            (click)="middleLinkClicked()"
          >
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>

      </nav>

    </div>
  </div>
</div>

@if (isProfileOpen) {
  <app-profile-modal
    (closeModal)="isProfileOpen = $event"
  ></app-profile-modal>
}


